# Build output
bin/
obj/

# .NET tools
.vs/

# Test results
TestResults/
StrykerOutput/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.suo
*.user

# Logs / temp
*.log
*.tmp

nupkg/
